<nb-card>
    <nb-card-header>{{ editMode ? 'Editar checklist' : 'Crear checklist' }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="criterioFG" #form="ngForm">
            <div class="form-control-group">
                <label class="label" for="input-indicator">Criterio</label>
                <input formControlName="indicator" nbInput fullWidth name="indicator" id="input-indicator"
                    fieldSize="large" type="text" placeholder="Criterio"
                    [status]="inputIndicator.dirty ? (inputIndicator.invalid ? 'danger' : 'success') : 'basic'" />

                <ng-container *ngIf="inputIndicator.invalid && inputIndicator.touched">
                    <p class="caption status-danger" *ngIf="inputIndicator.errors?.required">
                        Se requiere el criterio
                    </p>
                    <p class="caption status-danger" *ngIf="inputIndicator.errors?.minlength">
                        El criterio debe contar con al menos
                        {{ inputIndicator.errors?.minlength.requiredLength }} caracter
                    </p>
                </ng-container>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
        <button nbButton status="success" [disabled]="this.submitted" (click)="submit()">
            {{ editMode ? 'Editar' : 'Crear' }}
        </button>
    </nb-card-footer>
</nb-card>