.nb-theme-corporate nb-card {
  &.no-mg {
    margin: 0;
  }

  &.no-mg-t {
    margin-top: 0;
  }

  &.no-mg-l {
    margin-left: 0;
  }

  &.no-mg-b {
    margin-bottom: 0;
  }

  &.no-mg-r {
    margin-right: 0;
  }

  &.wt {
      width: 200px;
  }

  @media (min-width: #{$mdDevices}) {

    &.wt {
        width: 400px;
    }

  }
}

.task-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 5px 10px;

  .task-form-control{
    label {
      color: #36f;
    }

  }

  .scroll-y {
    overflow-y: scroll;
    max-height: 90px;
    scrollbar-width: thin;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: #edf1f7;
  height: 36vh;
  max-height: 270px;

  .comment:first-child {
    margin-top: 10px;
  }

  .comment:last-child {
    margin-bottom: 10px;
  }

  .comment {
    border-radius: 3px;
    background-color: #ffffff;
    margin: 5px 10px;
    padding: 10px 20px;

    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
    }

    .content {
      display: flex;

      input {
        width: 100%;
        padding: 10px;
        border-radius: 0.17rem;
        border: solid 1px #e4e9f2;

        &:read-only{
          padding: 0;
          border: none;
        }
      }

      textarea {
        height: auto;
        width: 100%;
        resize: none;
        padding: 10px;
        border-radius: 0.17rem;
        border: solid 1px #e4e9f2;

        &:read-only{
          padding: 0;
          border: none;
        }
      }
    }
  }
}

.comments-footer {
  position: relative;
  flex-shrink: 0;
  padding: 5px 10px 10px 10px;
}

.nb-theme-corporate nb-list-item {
  padding: 0;
}
