.columns {
    width: 100%;
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    .column {
        width: 100%;

        .container {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 80%;
            height: 100%;
            margin: 0 10% 0 10%;
        }

        .no-margin{
            width: 100%;
            margin: 0;
        }

        .center {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .v-center {
            display: flex;
            height: 100%;
            align-items: center;
        }

        .h-center {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}
