.row{
  display: flex;
  flex-wrap: wrap;

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.boards {
    flex-grow: 1;
    position: relative;

    .board {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      margin-bottom: 12px;

      .list-wrapper {
        width: 300px;
        margin: 0 2px;
        height: 100%;
        height: 70vh;
        min-height: 300px;
        display: inline-block;
        white-space: nowrap;

        .nb-theme-corporate nb-card{
          margin-bottom: 0;
        }

        .list {
          display: flex;
          flex-direction: column;
          max-height: 100%;
          position: relative;
          white-space: normal;

          nb-card-body{
            padding: 0;
          }

          nb-list {
            background-color: #eee;
            padding: 2px;

            nb-list-item {
              width: 100%;
              padding: 10px 10px 0 10px;

              nb-card{
                width: 100%;
                margin: 0;
                padding: .5rem .5rem;
              }
            }
          }

        }
      }
    }

  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: #{((98/12) * $i )+'%'};
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (min-width: #{$smDevices}) and (max-width: #{$mdDevices - 1px}) {

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: #{((98/12) * $i )+'%'};
      margin-left: 2px;
      margin-right: 2px;
    }
  }

}

@media (min-width: #{$mdDevices}) and (max-width: #{$lgDevices - 1px}) {

  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: #{((98/12) * $i )+'%'};
      margin-left: 2px;
      margin-right: 2px;
    }
  }

}

@media (min-width: #{$lgDevices}) and (max-width: #{$xlDevices - 1px}) {

  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: #{((98/12) * $i )+'%'};
      margin-left: 2px;
      margin-right: 2px;
    }
  }

}

@media (min-width: #{$xlDevices} ) {

  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      width: #{((98/12) * $i )+'%'};
      margin-left: 2px;
      margin-right: 2px;
    }
  }

}


