.no-mg {
  margin: 0;
}

.no-pd {
  padding: 0;
}

@for $i from 1 through 20 {
  .mg-#{$i*5} {
    margin: #{($i*5) + 'px'};
  }

  .mg-t-#{$i*5} {
    margin-top: #{($i*5) + 'px'};
  }

  .mg-l-#{$i*5} {
    margin-left: #{($i*5) + 'px'};
  }

  .mg-b-#{$i*5} {
    margin-bottom: #{($i*5) + 'px'};
  }

  .mg-r-#{$i*5} {
    margin-right: #{($i*5) + 'px'};
  }
}

@for $i from 1 through 20 {
  .pd-#{$i*5} {
    padding: #{($i*5) + 'px'};
  }

  .pd-t-#{$i*5} {
    padding-top: #{($i*5) + 'px'};
  }

  .pd-l-#{$i*5} {
    padding-left: #{($i*5) + 'px'};
  }

  .pd-b-#{$i*5} {
    padding-bottom: #{($i*5) + 'px'};
  }

  .pd-r-#{$i*5} {
    padding-right: #{($i*5) + 'px'};
  }
}


@for $i from 1 through 5 {
  .br-#{$i} {
    border: #{($i) + 'px'} solid #edf1f7;
  }

  .br-t-#{$i} {
    border-top: #{($i) + 'px'} solid #edf1f7;
  }

  .br-l-#{$i} {
    border-left: #{($i) + 'px'} solid #edf1f7;
  }

  .br-b-#{$i} {
    border-bottom: #{($i) + 'px'} solid #edf1f7;
  }

  .br-r-#{$i} {
    border-right: #{($i) + 'px'} solid #edf1f7;
  }
}

.mv-right {
  margin-left: auto;
}

.mv-left {
  margin-right: auto;
}