<nb-card>
	<nb-card-header>{{ editMode ? 'Editar lista' : 'Crear lista' }}</nb-card-header>
	<nb-card-body>
		<form [formGroup]="listFG" #form="ngForm">
			<div class="form-control-group">
				<label class="label" for="input-name">Nombre de la lista</label>
				<input
					formControlName="name"
					nbInput
					fullWidth
					name="name"
					id="input-name"
					fieldSize="large"
					type="text"
					placeholder="Nombre de la lista"
					[status]="inputName.dirty ? (inputName.invalid ? 'danger' : 'success') : 'basic'"
				/>

				<ng-container *ngIf="inputName.invalid && inputName.dirty">
					<p class="caption status-danger" *ngIf="inputName.errors?.required">Se requiere el nombre de la lista</p>
					<p class="caption status-danger" *ngIf="inputName.errors?.minlength">
						El nombre de la lista debe contar con al menos {{ inputName.errors?.minlength.requiredLength }} caracteres
					</p>
					<p class="caption status-danger" *ngIf="inputName.errors?.maxlength">
						El nombre debe tener máximo {{ inputName.errors?.maxlength.requiredLength }} caracteres
					</p>
				</ng-container>
			</div>

			<div class="form-control-group">
				<label class="label" for="input-wip">WIP (0 = No limite)</label>
				<nb-form-field>
					<nb-icon nbPrefix icon="flash-outline" pack="eva"></nb-icon>
					<input
						formControlName="wip"
						nbInput
						fullWidth
						name="wip"
						id="input-wip"
						fieldSize="large"
						type="number"
						placeholder="WIP"
						[status]="inputWip.dirty ? (inputWip.invalid ? 'danger' : 'success') : 'basic'"
					/>
				</nb-form-field>

				<ng-container *ngIf="inputWip.invalid && inputWip.dirty">
					<p class="caption status-danger" *ngIf="inputWip.errors?.required">Se requiere un numero para el wip</p>
					<p class="caption status-danger" *ngIf="inputWip.errors?.pattern">
						Tiene que ser un numero mayor o igual a 0
					</p>
				</ng-container>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
		<button nbButton status="success" [disabled]="this.submitted" (click)="submit()">
			{{ editMode ? 'Editar' : 'Crear' }}
		</button>
	</nb-card-footer>
</nb-card>
