<nb-card>
	<nb-card-header>
		<div class="row center">
			{{ title }}
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row center">
			<nb-icon [icon]="icon" style="width: 80px; height: auto"></nb-icon>
		</div>
		<div class="row center">{{ content }}</div>
	</nb-card-body>
	<nb-card-footer>
		<div class="row center">
			<button *ngIf="showCancelButton" nbButton [status]="cancelButtonStatus" (click)="cancel()" class="cancel mg-r-20">
				{{ cancelButtonText }}
			</button>
			<button nbButton [status]="confirmButtonStatus" (click)="submit()">{{ confirmButtonText }}</button>
		</div>
	</nb-card-footer>
</nb-card>
