<div class="row boards">
	<div class="board">
		<div cdkDragHandle class="list-wrapper" *ngFor="let list of lists; trackBy: trackByFn">
			<nb-card class="list">
				<nb-card-header class="row center nowrap">
					<div>
						{{ list.name }}
					</div>
					<div style="margin-left: auto">
						<nb-icon *ngIf="list.wip > list.tasks.length || list.wip == 0" icon="flash-outline"
							status="info"></nb-icon>
						<nb-icon *ngIf="list.wip <= list.tasks.length && list.wip != 0" icon="flash-off-outline"
							status="danger"></nb-icon>
						Wip: {{ list.wip == 0 ? '∞' : list.wip }}
						<button nbButton outline status="info" [nbContextMenu]="menuList" nbContextMenuTag="list-menu"
							(click)="setList(list)">
							<nb-icon icon="menu-2-outline"></nb-icon>
						</button>
					</div>
				</nb-card-header>
				<nb-card-body>
					<app-task [tasks]="list.tasks" [idList]="list.id" [dashboardKey]="dashboardKey"
						(refresh)="refresh.emit()"></app-task>
				</nb-card-body>
			</nb-card>
		</div>
	</div>
</div>