<nb-actions>
	<nb-action icon="menu-outline" (click)="toggleCompact()"></nb-action>
	<nb-action>Alison</nb-action>
	<nb-action icon="home-outline" link="/home"></nb-action>
	<nb-action icon="search-outline"></nb-action>
</nb-actions>
