<nb-list cdkDropList [id]="idList" [cdkDropListData]="tasks" (cdkDropListDropped)="onTaskDrop($event)">
	<nb-list-item *ngFor="let task of tasks" class="no-pd">
		<nb-card [accent]="task.endDate != null ? 'success' : 'info'" cdkDrag>
			<nb-card-header class="row center nowrap">
				<div>
					{{ task.title }}
				</div>
				<div style="margin-left: auto">
					<button nbButton ghost status="info" [nbContextMenu]="menuTask" nbContextMenuTag="task-menu"
						(click)="setTask(task)">
						<nb-icon icon="menu-outline"></nb-icon>
					</button>
				</div>
			</nb-card-header>
			<nb-card-body (click)="openEditTaskDialog(task)">
				<div style="padding: .5rem .5rem;">
					{{ task.description | truncate }}
				</div>
			</nb-card-body>
			<nb-card-footer *ngIf="task.members.length > 0" class="row">
				<nb-user *ngFor="let member of task.members" [name]="member.idUser.name" onlyPicture></nb-user>
			</nb-card-footer>
		</nb-card>
	</nb-list-item>
</nb-list>