<div class="row">
	<nb-card *ngFor="let board of boards" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
		<nb-card-header [ngStyle]="{ 'background-color': board.background }"
			[routerLink]="['/dashboard', board.dashboardKey]">
			{{ board.name }}</nb-card-header>
		<nb-card-footer>
			<button nbButton status="primary" shape="round" (click)="openShareBoardDialog(board)">
				<nb-icon icon="person-add-outline"></nb-icon>
			</button>
			<button nbButton ghost status="info" (click)="openEditBoardDialog(board)">
				<nb-icon icon="edit-outline"></nb-icon>
			</button>
			<button *ngIf="board.owner" nbButton ghost status="danger" (click)="openDeleteBoardDialog(board)"
				class="mg-l-15">
				<nb-icon icon="trash-2-outline"></nb-icon>
			</button>
		</nb-card-footer>
	</nb-card>
</div>