<nb-layout windowMode>
	<nb-layout-header fixed>
		<app-header></app-header>
	</nb-layout-header>

	<nb-sidebar tag="menu-sidebar" state="compacted">
		<app-sidebar [items]="menuSide"></app-sidebar>
	</nb-sidebar>

	<nb-layout-column>
		<h4 class="row">
			<div class="row center">Etiquetas</div>
			<button nbButton ghost status="info" (click)="openLableDialog(false, null)">
				<nb-icon icon="plus-outline"></nb-icon>Nueva etiqueta
			</button>
		</h4>

		<div class="row">
			<nb-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 no-mg" *ngFor="let label of labels">
				<nb-card-body class="row center" [ngStyle]="{ 'background-color': label.color }">
					<div>
						{{ label.name }}
					</div>
					<div style="margin-left: auto">
						<button nbButton status="info" class="mg-r-5" (click)="openLableDialog(true, label)">
							<nb-icon icon="edit-2-outline"></nb-icon>
						</button>
						<button nbButton status="danger" (click)="openDeleteLabelDialog(label)">
							<nb-icon icon="trash-2-outline"></nb-icon>
						</button>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
	</nb-layout-column>

	<nb-layout-footer>
		<app-footer></app-footer>
	</nb-layout-footer>
</nb-layout>
