<nb-card class="wt">
	<nb-card-header>
		<div class="row center">Miembros</div>
	</nb-card-header>
	<nb-list>
		<nb-list-item *ngFor="let user of members">
			<div class="row" style="width: 100%">
				<div>
					<nb-user
						[name]="user.nombre"
						[title]="user.email"
						badgeText=" "
						[badgeStatus]="user.propietario ? 'primary' : user.rol == 2 ? 'warning' : 'success'"
					></nb-user>
				</div>
				<div style="margin-left: auto" *ngIf="!user.propietario && !inTask">
					<button nbButton ghost status="danger" *ngIf="user.rol == 2" (click)="setUser(user)">
						<nb-icon icon="award-outline"></nb-icon>
					</button>
					<button nbButton ghost status="warning" *ngIf="user.rol == 0" (click)="setAdmin(user)">
						<nb-icon icon="award-outline"></nb-icon>
					</button>
					<button nbButton ghost status="danger" (click)="remove(user)">
						<nb-icon icon="person-delete-outline"></nb-icon>
					</button>
				</div>
				<div style="margin-left: auto" *ngIf="inTask">
					<button nbButton ghost status="success" *ngIf="!user.assigned" (click)="assignMember(user)">
						<nb-icon icon="person-add-outline"></nb-icon>
					</button>
					<button nbButton ghost status="danger" *ngIf="user.assigned" (click)="unassignMember(user)">
						<nb-icon icon="person-delete-outline"></nb-icon>
					</button>
				</div>
			</div>
		</nb-list-item>
	</nb-list>
</nb-card>
