<div class="comment">
	<div class="header">
		<b class="mv-left">{{ comment.idUser.nombre }}</b>
		<div *ngIf="comment.propietario" class="mv-right">
			<button nbButton ghost status="info" (click)="readonly = false">
				<nb-icon icon="edit-2-outline"></nb-icon>
			</button>
			<button nbButton ghost status="danger" (click)="deleteComment(comment)">
				<nb-icon icon="trash-2-outline"></nb-icon>
			</button>
		</div>
	</div>
	<div class="content">
		<textarea #inputcomment (keyup.enter)="editComment(comment, inputcomment.value)" name="comment"
			id="input-comment" type="text" [value]="comment.comment" [readonly]="readonly"></textarea>
	</div>
</div>