<nb-layout center>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h1>Signup</h1>
      </nb-card-header>
      <nb-card-body>
        <nb-alert *ngIf="errors?.length > 0 && submitted" outline="danger" role="alert">
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
          </ul>
        </nb-alert>
        <nb-alert *ngIf="messages?.length > 0 && submitted" outline="success" role="alert">
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>

        <form [formGroup]="signupFG" (ngSubmit)="signup()" #form="ngForm">

          <div class="form-control-group">

            <label class="label" for="input-name">Nombre</label>
            <input formControlName="name" nbInput fullWidth name="name" id="input-name" fieldSize="large" type="text"
              placeholder="Nombre"
              [status]="inputName.dirty ? (inputName.invalid ? 'danger' : 'success') : 'basic'">

            <ng-container *ngIf="inputName.invalid && inputName.touched">
              <p class="caption status-danger" *ngIf="inputName.errors?.required">
                Se requiere tu nombre completo
              </p>
              <p class="caption status-danger" *ngIf="inputName.errors?.minlength">
                El nombre debe contar con al menos {{ inputName.errors?.minlength.requiredLength }} caracteres
              </p>
            </ng-container>

          </div>

          <div class="form-control-group">

            <label class="label" for="input-email">Correo electrónico</label>
            <input formControlName="email" nbInput fullWidth name="email" id="input-email" fieldSize="large" type="text"
              placeholder="Correo electrónico"
              [status]="inputEmail.dirty ? (inputEmail.invalid ? 'danger' : 'success') : 'basic'">

            <ng-container *ngIf="inputEmail.invalid && inputEmail.touched">
              <p class="caption status-danger" *ngIf="inputEmail.errors?.required">
                Se requiere tu correo electrónico
              </p>
              <p class="caption status-danger" *ngIf="inputEmail.errors?.pattern">
                Se requiere un correo electrónico válido
              </p>
            </ng-container>

          </div>

          <div class="form-control-group">

            <label class="label" for="input-user">Nombre de usuario</label>
            <input formControlName="username" nbInput fullWidth name="user" id="input-user" fieldSize="large" type="text"
              placeholder="Nombre de usuaro"
              [status]="inputUsername.dirty ? (inputUsername.invalid ? 'danger' : 'success') : 'basic'">

            <ng-container *ngIf="inputUsername.invalid && inputUsername.touched">
              <p class="caption status-danger" *ngIf="inputUsername.errors?.required">
                Se requiere tu nombre de usuario
              </p>
              <p class="caption status-danger" *ngIf="inputUsername.errors?.minlength">
                El nombre de usuario debe contar con al menos {{ inputUsername.errors?.minlength.requiredLength }} caracteres
              </p>
            </ng-container>

          </div>

          <div class="form-control-group">

            <label class="label" for="input-pass">Contraseña</label>
            <input formControlName="password" nbInput fullWidth name="pass" id="input-pass" fieldSize="large"
              type="password" placeholder="Contraseña"
              [status]="inputPassword.dirty ? (inputPassword.invalid ? 'danger' : 'success') : 'basic'">

            <ng-container *ngIf="inputPassword.invalid && inputPassword.touched">
              <p class="caption status-danger" *ngIf="inputPassword.errors?.required">
                Se requiere tu contraseña
              </p>
              <p class="caption status-danger" *ngIf="inputPassword.errors?.minlength">
                La contraseña no cuenta con los {{ inputPassword.errors?.minlength.requiredLength }}
                caracteres minimos
              </p>
            </ng-container>

          </div>

          <div class="form-control-group accept-group">
            <nb-checkbox name="rememberMe" (change)="setTerms($event)">
              Accepto los <a href="#" target="_blank"><strong>Términos y condiciones</strong></a>
            </nb-checkbox>
          </div>

          <button nbButton status="primary" fullWidth [disabled]="this.signupFG.invalid"
            type="submit">Registrarse</button>
        </form>

      </nb-card-body>
      <nb-card-footer>
        <section class="another-action" aria-label="Register">
          ¿Ya tienes cuenta? <a class="text-link" routerLink="../login">Inicia sesión</a>
        </section>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
