<nb-card>
    <nb-card-header>{{ editMode ? 'Editar checklist' : 'Crear checklist' }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="checklistFG" #form="ngForm">
            <div class="form-control-group">
                <label class="label" for="input-name">Nombre para el checklist</label>
                <input formControlName="name" nbInput fullWidth name="name" id="input-name" fieldSize="large"
                    type="text" placeholder="Nombre para el checklist"
                    [status]="inputName.dirty ? (inputName.invalid ? 'danger' : 'success') : 'basic'" />

                <ng-container *ngIf="inputName.invalid && inputName.touched">
                    <p class="caption status-danger" *ngIf="inputName.errors?.required">
                        Se requiere el un nombre para el checklist
                    </p>
                    <p class="caption status-danger" *ngIf="inputName.errors?.minlength">
                        El nombre del checklist debe contar con al menos
                        {{ inputName.errors?.minlength.requiredLength }} caracter
                    </p>
                </ng-container>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
        <button nbButton status="success" [disabled]="this.submitted" (click)="submit()">
            {{ editMode ? 'Editar' : 'Crear' }}
        </button>
    </nb-card-footer>
</nb-card>