<div class="br-t-1">
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header>{{ checklist.name }}</nb-accordion-item-header>
            <nb-accordion-item-body>
                <nb-list>
                    <nb-list-item *ngFor="let criterio of checklist.criterios">
                        <nb-toggle [checked]="criterio.status">{{ criterio.indicator }}</nb-toggle>
                    </nb-list-item>
                </nb-list>
                <div style="margin-top: 10px;">
                    <nb-progress-bar *ngIf="false" status="success" [value]="50"></nb-progress-bar>
                    <div style="margin-left: auto">
                        <button nbSuffix nbButton status="info" outline (click)="openCriterioDialog()">Añadir criterio
                            <nb-icon icon="plus-outline" pack="eva" attr.aria-label="Enviar comentario">
                            </nb-icon>
                        </button>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>