<nb-card *ngIf="!editMode" style="height: 90%; margin-top: 5%">
	<nb-card-header>Crear tarea</nb-card-header>
	<nb-card-body>
		<form [formGroup]="taskFG" #form="ngForm">
			<div class="form-control-group">
				<label class="label" for="input-title">Titulo</label>
				<input formControlName="title" nbInput fullWidth name="title" id="input-title" fieldSize="large"
					type="text" placeholder="Titulo"
					[status]="inputTitle.dirty ? (inputTitle.invalid ? 'danger' : 'success') : 'basic'" />

				<ng-container *ngIf="inputTitle.invalid && inputTitle.dirty">
					<p class="caption status-danger" *ngIf="inputTitle.errors?.required">Se requiere el titulo de la
						tarea</p>
					<p class="caption status-danger" *ngIf="inputTitle.errors?.minlength">
						El titulo debe contar con al menos {{ inputTitle.errors?.minlength.requiredLength }} caracteres
					</p>
					<p class="caption status-danger" *ngIf="inputTitle.errors?.maxlength">
						El titulo debe tener máximo {{ inputTitle.errors?.maxlength.requiredLength }} caracteres
					</p>
				</ng-container>
			</div>

			<div class="form-control-group">
				<label class="label" for="input-description">Descripción</label>
				<textarea formControlName="description" nbInput fullWidth name="description" id="input-description"
					fieldSize="large" type="text" placeholder="Descripción"
					[status]="inputDescription.dirty ? (inputDescription.invalid ? 'danger' : 'success') : 'basic'"></textarea>

				<ng-container *ngIf="inputDescription.invalid && inputDescription.dirty">
					<p class="caption status-danger" *ngIf="inputDescription.errors?.required">
						Se requiere la descripción de la tarea
					</p>
					<p class="caption status-danger" *ngIf="inputDescription.errors?.minlength">
						La descripción debe contar con al menos {{ inputDescription.errors?.minlength.requiredLength }}
						caracteres
					</p>
				</ng-container>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
		<button nbButton status="success" [disabled]="this.submitted" (click)="submit()">
			{{ editMode ? 'Editar' : 'Crear' }}
		</button>
	</nb-card-footer>
</nb-card>


<nb-card style="height: 500px; width: 80vw; min-width: 700px; max-width: 1100px;" *ngIf="editMode">
	<nb-card-header class="row center">
		<div>
			<h5>{{ task.title }}</h5>
		</div>
		<div style="margin-left: auto">
			<button nbButton ghost *ngIf="false" status="info" (click)="updateTask()">
				Guardar cambios
				<nb-icon icon="save-outline"></nb-icon>
			</button>
			<button nbButton ghost *ngIf="!task.endDate" status="success" (click)="finishedTask()">
				Marcar como completa
				<nb-icon icon="checkmark-outline"></nb-icon>
			</button>
			<button nbButton ghost *ngIf="task.endDate" status="danger" (click)="unfinishedTask()">
				Marcar como no completa
				<nb-icon icon="checkmark-outline"></nb-icon>
			</button>
		</div>
	</nb-card-header>
	<nb-tabset>
		<nb-tab tabTitle="General">
			<div class="columns">
				<div class="column">
					<div class="task-row br-b-1">
						<div *ngFor="let user of task.members">
							<nb-user [name]="user.idUser.name" onlyPicture [nbPopover]="popoverName"
								nbPopoverPlacement="bottom"></nb-user>
							<ng-template #popoverName>
								<div class="pd-5">{{ user.idUser.name }}</div>
							</ng-template>
						</div>
						<div class="mv-right">
							<button nbButton status="primary" shape="round" (click)="openMembersDialog()">
								<nb-icon icon="person-add-outline"></nb-icon>
							</button>
						</div>
					</div>
					<div class="task-row br-b-1">
						<div class="columns">
							<div class="column center">
								<div class="task-form-control">
									<label class="label" for="input-startDate">Fecha de inicio</label>
									<input [formControl]="inputStartDate" nbInput name="startDate" id="input-startDate"
										type="text" placeholder="Seleccione la fecha de inicio"
										[nbDatepicker]="fcStartDate" readonly />
									<nb-datepicker #fcStartDate format="yyyy/MM/dd"></nb-datepicker>
								</div>
							</div>
							<div class="column">
								<div class="task-form-control">
									<label class="label" for="input-limitDate">Fecha limite</label>
									<input [formControl]="inputLimitDate" nbInput name="limitDate" id="input-limitDate"
										type="text" placeholder="Seleccione la fecha limite"
										[nbDatepicker]="fcLimitDate" readonly />
									<nb-datepicker #fcLimitDate format="yyyy/MM/dd"></nb-datepicker>
								</div>
							</div>
							<div class="column center">
								<button nbButton ghost status="primary" (click)="openLabelTaskDialog()" class="center">
									Etiquetas
									<nb-icon icon="pricetags-outline"></nb-icon>
								</button>
							</div>
						</div>
					</div>
					<div class="task-row br-b-1">
						<div class="row v-center">
							<h6 class="no-mg">Descripción</h6>
							<button nbButton ghost status="info">
								<nb-icon icon="edit-outline"></nb-icon>
							</button>
						</div>
						<div class="col-12 scroll-y">
							{{ task.description }}
						</div>
					</div>
					<div class="task-row">
						<div class="columns">
							<div class="column">
								<div class="task-form-control">
									<label class="label" for="input-size">Tamaño Estimado</label>
									<nb-form-field>
										<nb-icon nbPrefix icon="bar-chart-2-outline" pack="eva"></nb-icon>
										<input [formControl]="inputSize" nbInput name="size" id="input-size"
											type="number" [value]="size" min="0"
											placeholder="Seleccione el tamaño estimado" />
									</nb-form-field>
								</div>
							</div>
							<div class="column">
								<div class="task-form-control">
									<label class="label" for="input-real">Tamaño Real</label>
									<nb-form-field>
										<nb-icon nbPrefix icon="bar-chart-2-outline" pack="eva"></nb-icon>
										<input [formControl]="inputReal" nbInput name="real" id="input-real"
											type="number" [value]="real" min="0"
											placeholder="Seleccione el tamaño real" />
									</nb-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nb-tab>
		<nb-tab tabTitle="Comentarios">
			<div class="comments">
				<app-comment *ngFor="let comment of comments" [comment]="comment" [idTask]="task.id"
					[dashboardKey]="dashboardKey" (onDeleteComment)="getComments()"></app-comment>
			</div>
			<div class="comments-footer br-t-1">
				<label class="label" for="input-comment">Comentario</label>
				<nb-form-field>
					<input #comment (keyup.enter)="sendComment(comment.value); comment.value = ''" nbInput fullWidth
						name="comment" id="input-comment" fieldSize="large" type="text" placeholder="Comentario" />
					<button nbSuffix nbButton ghost (click)="sendComment(comment.value)">
						<nb-icon icon="paper-plane-outline" pack="eva" attr.aria-label="Enviar comentario">
						</nb-icon>
					</button>
				</nb-form-field>
			</div>
		</nb-tab>
		<nb-tab tabTitle="Checklists">
			<div style="margin-bottom: 10px;">
				<nb-progress-bar *ngIf="false" status="success" [value]="50"></nb-progress-bar>
				<div style="margin-left: auto">
					<button nbSuffix nbButton status="primary" (click)="openChecklistDialog()">Añadir checklist
						<nb-icon icon="checkmark-square-outline" pack="eva" attr.aria-label="Enviar comentario">
						</nb-icon>
					</button>
				</div>
			</div>
			<div class="scroll-y" style="max-height: 290px;">
				<app-checklist *ngFor="let checklist of checklists" [dashboardKey]="dashboardKey" [idList]="idList"
					[idTask]="task.id" [checklist]="checklist">
				</app-checklist>
				<app-checklist [checklist]="check" *ngIf="false"></app-checklist>
			</div>
		</nb-tab>
	</nb-tabset>
</nb-card>