<nb-layout center>
	<nb-layout-column>
		<nb-card>
			<nb-card-header>
				<h1>Login</h1>
			</nb-card-header>
			<nb-card-body>
				<nb-alert *ngIf="errors?.length > 0 && submitted" outline="danger" role="alert">
					<ul class="alert-message-list">
						<li *ngFor="let error of errors" class="alert-message">
							{{ error }}
						</li>
					</ul>
				</nb-alert>
				<nb-alert
					*ngIf="messages?.length > 0 && submitted"
					outline="success"
					role="alert"
				>
					<ul class="alert-message-list">
						<li *ngFor="let message of messages" class="alert-message">
							{{ message }}
						</li>
					</ul>
				</nb-alert>

				<form [formGroup]="loginFG" (ngSubmit)="login()" #form="ngForm">
					<div class="form-control-group">
						<label class="label" for="input-user"
							>Nombre de usuario o Correo electrónico</label
						>
						<input
							formControlName="user"
							nbInput
							fullWidth
							name="user"
							id="input-user"
							fieldSize="large"
							type="text"
							placeholder="Nombre de usuaro o correo electrónico"
							[status]="
								inputUser.dirty ? (inputUser.invalid ? 'danger' : 'success') : 'basic'
							"
						/>

						<ng-container *ngIf="inputUser.invalid && inputUser.touched">
							<p class="caption status-danger" *ngIf="inputUser.errors?.required">
								Se requiere tu nombre de usuario o correo electrónico
							</p>
							<p class="caption status-danger" *ngIf="inputUser.errors?.minlength">
								Tu nombre de usuario o correo no cuenta con los
								{{ inputUser.errors?.minlength.requiredLength }}
								caracteres minimos
							</p>
						</ng-container>
					</div>

					<div class="form-control-group">
						<label class="label" for="input-pass">Contraseña</label>
						<input
							formControlName="password"
							nbInput
							fullWidth
							name="pass"
							id="input-pass"
							fieldSize="large"
							type="password"
							placeholder="Contraseña"
							[status]="
								inputPassword.dirty
									? inputPassword.invalid
										? 'danger'
										: 'success'
									: 'basic'
							"
						/>

						<ng-container *ngIf="inputPassword.invalid && inputPassword.touched">
							<p class="caption status-danger" *ngIf="inputPassword.errors?.required">
								Se requiere tu contraseña
							</p>
							<p class="caption status-danger" *ngIf="inputPassword.errors?.minlength">
								La contraseña no cuenta con los
								{{ inputPassword.errors?.minlength.requiredLength }}
								caracteres minimos
							</p>
						</ng-container>
					</div>

					<div class="form-control-group accept-group">
						<nb-checkbox name="rememberMe">Mantener sesión iniciada</nb-checkbox>
					</div>

					<button
						nbButton
						status="primary"
						fullWidth
						[disabled]="this.loginFG.invalid"
						type="submit"
					>
						Iniciar sesión
					</button>
				</form>
			</nb-card-body>
			<nb-card-footer>
				<section class="another-action" aria-label="Register">
					¿Aún no tienes cuenta?
					<a class="text-link" routerLink="../signup">Regístrate</a>
				</section>
			</nb-card-footer>
		</nb-card>
	</nb-layout-column>
</nb-layout>
