<div class="loading" *ngIf="loading">
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>
<router-outlet *ngIf="!loading"></router-outlet>
