<nb-layout windowMode>
	<nb-layout-header fixed>
		<app-header></app-header>
	</nb-layout-header>

	<nb-sidebar tag="menu-sidebar" state="compacted">
		<app-sidebar></app-sidebar>
	</nb-sidebar>

	<nb-layout-column>
		<h4 class="row no-mg mg-b-25">
			<div class="row center">
				Mis tableros
				<button nbButton ghost status="info" (click)="openNewBoardDialog()">
					<nb-icon icon="plus-outline"></nb-icon>Nuevo tablero
				</button>
			</div>
		</h4>

		<app-list-boards #listOwn [boards]="boardsOwn" (refresh)="refresh()"></app-list-boards>

		<h4 class="row" *ngIf="boardsShare.length > 0">
			<div class="row center">Tablero en los que colabora</div>
		</h4>

		<app-list-boards #listShare [boards]="boardsShare" (refresh)="refresh()"></app-list-boards>
	</nb-layout-column>

	<nb-layout-footer>
		<app-footer></app-footer>
	</nb-layout-footer>
</nb-layout>
