<nb-card>
	<nb-card-header>Añadir colaborador</nb-card-header>
	<nb-card-body>
		<form [formGroup]="shareFG" #form="ngForm">
			<p>Mediante correo electrónico</p>

			<div class="form-control-group">
				<label class="label" for="input-email">Correo electrónico</label>
				<input
					formControlName="email"
					nbInput
					fullWidth
					name="email"
					id="input-email"
					fieldSize="large"
					type="text"
					placeholder="Correo electrónico"
					[status]="inputEmail.dirty ? (inputEmail.invalid ? 'danger' : 'success') : 'basic'"
				/>

				<ng-container *ngIf="inputEmail.invalid && inputEmail.dirty">
					<p class="caption status-danger" *ngIf="inputEmail.errors?.required">
						Se requiere el correo electrónico del colaborador a añadir
					</p>
					<p class="caption status-danger" *ngIf="inputEmail.errors?.pattern">
						Se requiere un correo electrónico válido
					</p>
				</ng-container>
			</div>

			<p>O genere un link de invitación</p>

			<button *ngIf="!generated" class="cancel mg-r-5" fullWidth nbButton status="info" (click)="generateLink()">
				Generar Link
			</button>

			<div *ngIf="generated" class="form-control-group">
				<nb-form-field>
					<input formControlName="link" nbInput fullWidth name="link" id="input-link" fieldSize="large" type="text" />
					<button nbSuffix nbButton ghost (click)="copyLink()" nbPopover="Link copiado!">
						<nb-icon icon="copy-outline" pack="eva" attr.aria-label="Copiar link"> </nb-icon>
					</button>
				</nb-form-field>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
		<button nbButton status="success" [disabled]="this.submitted" (click)="submit()">Añadir</button>
	</nb-card-footer>
</nb-card>
