<nb-card class="wt">
	<nb-card-header>Etiquetas</nb-card-header>
	<nb-list>
		<nb-list-item *ngFor="let label of labels" [ngStyle]="{ 'background-color': label.color }">
			<nb-toggle (checkedChange)="switchTag(label, $event)" [checked]="label.check == true">{{ label.name }}</nb-toggle>
		</nb-list-item>
	</nb-list>
	<nb-card-footer>
		<button nbButton status="primary" fullWidth type="button" (click)="cancel()">Cerrar</button>
	</nb-card-footer>
</nb-card>
