<nb-card>
	<nb-card-header>{{ editMode ? 'Editar tablero' : 'Crear tablero' }}</nb-card-header>
	<nb-card-body>
		<form [formGroup]="boardFG" #form="ngForm">
			<div class="form-control-group">
				<label class="label" for="input-name">Nombre del tablero</label>
				<input
					formControlName="name"
					nbInput
					fullWidth
					name="name"
					id="input-name"
					fieldSize="large"
					type="text"
					placeholder="Nombre del tablero"
					[status]="inputName.dirty ? (inputName.invalid ? 'danger' : 'success') : 'basic'"
				/>

				<ng-container *ngIf="inputName.invalid && inputName.touched">
					<p class="caption status-danger" *ngIf="inputName.errors?.required">Se requiere el nombre del tablero</p>
					<p class="caption status-danger" *ngIf="inputName.errors?.minlength">
						El nombre del tablero debe contar con al menos {{ inputName.errors?.minlength.requiredLength }} caracteres
					</p>
				</ng-container>
			</div>

			<div class="form-control-group">
				<label class="label" for="input-bg">Color de fondo RGB</label>
				<nb-form-field>
					<nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
					<input
						formControlName="bg"
						nbInput
						fullWidth
						name="bg"
						id="input-bg"
						fieldSize="large"
						type="text"
						placeholder="Color de fondo RGB"
						[status]="inputBg.dirty ? (inputBg.invalid ? 'danger' : 'success') : 'basic'"
					/>
				</nb-form-field>

				<ng-container *ngIf="inputBg.invalid && inputBg.touched">
					<p class="caption status-danger" *ngIf="inputBg.errors?.required">Se requiere el color de fondo</p>
					<p class="caption status-danger" *ngIf="inputBg.errors?.pattern">Tiene que ser un color RGB válido</p>
				</ng-container>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="cancel mg-r-5" nbButton status="danger" (click)="cancel()">Cancelar</button>
		<button nbButton status="success" [disabled]="this.submitted" (click)="submit()">
			{{ editMode ? 'Editar' : 'Crear' }}
		</button>
	</nb-card-footer>
</nb-card>
