<nb-layout windowMode>
	<nb-layout-header>
		<app-header></app-header>
	</nb-layout-header>

	<nb-sidebar tag="menu-sidebar" state="compacted">
		<app-sidebar [items]="menuSide"></app-sidebar>
	</nb-sidebar>

	<nb-layout-column>
		<h4 class="row no-mg mg-b-25">
			<div class="row center">
				{{ name }}
			</div>
			<button nbButton ghost status="info" (click)="openListDialog()">
				<nb-icon icon="plus-outline"></nb-icon>Nueva lista
			</button>
		</h4>

		<app-list [lists]="lists" [dashboardKey]="dashboardKey" (refresh)="refresh()"></app-list>
	</nb-layout-column>
</nb-layout>
